*{
    padding: 0px;
    margin: 0px;
}

.NameContactWrap{
    padding-top: 30px;
    text-align: center;
}

.ContactInfoWrap{
    text-align: center;
    margin-top: 30px;
    margin: 30px 100px 0px 100px;
    font-size: 18px;
    border: 6px solid #000000;
}

.list1{
    font-size: 20px;
}

.ContactInfoWrap p{
    margin: 18px
}

.txt{
    text-align: center;
    width: 300px;
    font-size: 16px;
    line-height: inherit;
}

.coment{
    width: 500px;
    height: 100px;
}

.send_button{
    margin-right: 100px;
}

.error {
    border: 1px solid red;
}

#calendarContainer {
  text-align: center;
  position: relative;
}

.controls {
  margin-bottom: 10px;
}

#calendar {
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
  width: auto; 
  max-width: 300px; 
}

#calendar table {
  width: 100%;
}

#calendar th,
#calendar td {
  text-align: center;
  padding: 5px;
}

#calendar td:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

#selectedDateInput {
  position: relative;
}

/* Добавляем стили для позиционирования календаря */
#calendar.below-input {
  top: calc(100% + 10px);
  left: 0;
  right: 0;
  margin: auto;
}

.tooltip {
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 14px;
  color: #333;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  text-align: center;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content button {
  margin: 10px;
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #45a049;
}

#cancelButton {
  background-color: #f44336;
}

#cancelButton:hover {
  background-color: #d32f2f;
}