*{
    padding: 0px;
    margin: 0px;
}

.NameContactWrap{
    padding-top: 30px;
    text-align: center;
}

.ContactInfoWrap{
    text-align: center;
    margin-top: 30px;
    margin: 30px 100px 0px 100px;
    font-size: 18px;
    border: 6px solid #000000;
}

.list1{
    font-size: 20px;
}

.ContactInfoWrap p{
    margin: 18px
}

.txt{
    text-align: center;
    width: 300px;
    font-size: 16px;
    line-height: inherit;
}

.coment{
    width: 500px;
    height: 100px;
}

.send_button{
    margin-right: 100px;
}

.error {
    border: 1px solid red;
}

#calendarContainer {
  text-align: center;
  position: relative;
}

.controls {
  margin-bottom: 10px;
}

#calendar {
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
  width: auto; 
  max-width: 300px; 
}

#calendar table {
  width: 100%;
}

#calendar th,
#calendar td {
  text-align: center;
  padding: 5px;
}

#calendar td:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

#selectedDateInput {
  position: relative;
}

/* Добавляем стили для позиционирования календаря */
#calendar.below-input {
  top: calc(100% + 10px);
  left: 0;
  right: 0;
  margin: auto;
}