*{
    padding: 0px;
    margin: 0px;
}

.NamePhotoWrap{
    padding-top: 30px;
    text-align: center;
}

.PhotoInfoWrap{
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
    
}

.PhotoInfoWrap img{
    object-fit: cover;
    margin: 8px;
    width: 260px;
    height: 260px;
}

.PhotoInfoWrap p{
    text-align: center;
}

.lol{
    display: flex;
    justify-content: space-around;
}

.row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .row > div {
    flex-basis: 20%;
    margin: 5px;
    box-sizing: border-box;
  }
  
.PhotoWrap .pop-up{
    display: none;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
}

.PhotoWrap .pop-up img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    object-fit: cover;
}

.PhotoWrap .pop-up span{
    position: fixed;
    top:10px;
    right:20px;
    width: 40px;
    height: 40px;
    background: white;
    font-size: 50px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}


.PhotoWrap .pop-up .button-left {
    left: 30%;
  }
  
  .PhotoWrap .pop-up .button-right {
    right: 30%;
  }

.button-left,
.button-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #6eb291;
    border: none;
    border-radius: 50%;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}