* {
    padding: 0;
    margin: 0;
  }
  
  .StudyNameWrap {
    padding-top: 30px;
    font-size: 16px;
    text-align: center;
  }
  
  .StudyInfoWrap {
    text-align: center;
    padding-top: 30px;
  }
  
  .title {
    font-size: 18px;
  }
  
  .department {
    padding-bottom: 20px;
  }
  
  table.Tablo {
    margin: auto;
    border-collapse: collapse;
  
    th {
      padding: 2px;
      border: 1px solid;
    }
  
    td {
      padding: 2px;
      border: 1px solid;
    }
  }